@page "/template/edit/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@if (_template is null)
{
    <div class="d-flex justify-center mt-4">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}
else
{
    <MudContainer Gutters="true" MaxWidth="MaxWidth.Medium">

        @*Cover photo configuration start*@
        @if (_template.ImageUrl is null)
        {
            <MudImage Src="default_cover.jpg"
                      Width="912"
                      Height="250"
                      ObjectFit="ObjectFit.Contain"
                      Fluid="true"
                      Class="rounded-lg pt-2"/>
        }
        else
        {
            <MudImage Src="@_template.ImageUrl"
                      ObjectFit="ObjectFit.Contain"
                      Fluid="true"
                      Class="rounded-lg pt-2"/>
        }
        <div class="d-flex">
            @if (_template.ImageUrl is not null)
            {
                <MudFileUpload
                    T="IBrowserFile"
                    Accept=".png, .jpg, .jpeg"
                    FilesChanged="ReplaceCoverPhoto">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Text"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Image">
                            Replace Cover
                        </MudButton>
                    </ActivatorContent>
                </MudFileUpload>
                <MudButton OnClick="RemoveCoverPhoto"
                           Variant="Variant.Text"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Cancel">
                    Remove Cover
                </MudButton>
            }
            else
            {
                <MudFileUpload
                    T="IBrowserFile"
                    Accept=".png, .jpg, .jpeg"
                    FilesChanged="UploadCoverPhoto">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Text"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Image">
                            Add Cover
                        </MudButton>
                    </ActivatorContent>
                </MudFileUpload>
            }
        </div>
        @*Cover photo configuration end*@

        @*Template Cnnfiguration start*@
        <MudPaper Width="100%" Class="rounded-lg pa-4">
            <MudTextField
                T="string"
                @bind-Text="@_template.Title"
                Typo="Typo.h4"
                AutoFocus="true"
                OnBlur="UpdateTemplate"/>
            <MudGrid Class="pt-4">
                <MudItem xs="12">
                    <MudTextField
                        T="string"
                        Lines="2"
                        OnBlur="UpdateTemplate"
                        AutoFocus="true"
                        @bind-Text="@_template.Description"
                        Label="Description"
                        Immediate="true"/>
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2" GutterBottom="true">Preview</MudText>
                    <MudMarkdown Value="@_template.Description"/>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <MudPaper Width="100%" Class="rounded-lg pa-4 my-2">
            <TagBox TemplateId="Id"/>
            @if (_template.IsPublic)
            {
                <MudChip T="string" Color="Color.Success" Icon="@Icons.Material.Filled.Public" Text="Published"/>
            }
            @if (!_template.IsPublic)
            {
                <MudChip T="string" Color="Color.Error" Icons="@Icons.Material.Filled.PublicOff" Text="Not Published"/>
            }
        </MudPaper>

        <MudPaper Class="d-flex my-2" Elevation="0">
            @if (_isLiked)
            {
                <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                           Color="Color.Primary"
                           OnClick="LikeOrUnlikeTemplate">
                    @_totalLikesCount
                </MudButton>
            }
            @if (!_isLiked)
            {
                <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                           Color="Color.Default"
                           OnClick="LikeOrUnlikeTemplate">
                    @_totalLikesCount
                </MudButton>
            }
            <MudSpacer/>
            @if (!_template.IsPublic)
            {
                <MudButton StartIcon="@Icons.Material.Filled.Publish"
                           Color="Color.Primary"
                           Variant="Variant.Filled"
                           OnClick="PublishTemplatePublic">
                    Publish
                </MudButton>
            }
        </MudPaper>

        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-4">
            <MudTabPanel Text="Questions">
                <EditQuestions Template="_template"/>
            </MudTabPanel>
            <MudTabPanel Text="Responses">
                <ResponseList TemplateId="_template.Id"/>
            </MudTabPanel>
            @*
            <MudTabPanel Text="Comments">
                <CommentBox TemplateId="_template.Id"/>
            </MudTabPanel>
            *@
        </MudTabs>

        @*Template Configuration end*@
    </MudContainer>
}