@page "/form/edit/{Id:int}"

@if (_form is null)
{
    <div class="d-flex justify-center mt-4">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="d-flex justify-center my-2"/>
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium" Gutters="true">
        @if (_form.Template!.ImageUrl is null)
        {
            <MudPaper Height="100px" Class="blue-gray lighten-4 rounded-lg mt-2"/>
        }
        else
        {
            <MudImage Src="@_form.Template.ImageUrl"
                      ObjectFit="ObjectFit.Contain"
                      Fluid="true"
                      Class="rounded-lg pt-2"/>
        }

        <MudPaper Elevation="0" Class="d-flex my-2">
            @if (_isLiked)
            {
                <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                           Color="Color.Primary"
                           OnClick="LikeOrUnlikeForm">
                    @_totalLikesCount
                </MudButton>
            }
            @if (!_isLiked)
            {
                <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                           Color="Color.Default"
                           OnClick="LikeOrUnlikeForm">
                    @_totalLikesCount
                </MudButton>
            }
            <MudSpacer/>
            @if (_form.IsSubmitted)
            {
                <MudButton Variant="Variant.Filled"
                           Disabled="true"
                           Color="Color.Success">
                    Submitted
                </MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled"
                           OnClick="SubmitForm"
                           Color="Color.Primary">
                    Submit
                </MudButton>
            }
        </MudPaper>

        <MudPaper Width="100%" Class="pa-4 my-2">
            <MudText Typo="Typo.h4" GutterBottom="true">@_form.Template.Title</MudText>
            <MudMarkdown Value="@_form.Template.Description"/>
        </MudPaper>

        @if (!_form.Template.Questions.Any())
        {
            <MudText Typo="Typo.h4" Align="Align.Center" Class="mt-4">No Questions</MudText>
        }
        else
        {
            @foreach (var question in _form.Template.Questions.OrderBy(q => q.Order))
            {
                <AnswerBody Question="question" FormId="@_form.Id" IsSubmitted="@_form.IsSubmitted"/>
            }
        }
    </MudContainer>
}